* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ddd5c8;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1ede1;
  border-radius: 15px;
  height: 70px;
  margin: 10px;
  width: 15vw;
  box-shadow: 0px 0px 3px 2px rgb(0, 0, 0, 0.08);
}

#text {
  resize: none;
  width: 40vw;
  height: 45vh;
  padding: 10px;
  outline: none;
  font-size: 18px;
  font-family: "Arial";
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 3px 2px rgb(0, 0, 0, 0.08);
  background-color: whitesmoke;
}

.button-area {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 600px;
  flex-wrap: wrap;
}

button {
  background-color: #d5c1a8;
  border: 1px solid #c9b296;
  border-radius: 8px;
  color: #363636;
  cursor: pointer;
  display: inline;
  font-size: 18px;
  width: 160px;
  height: 80px;
  font-family: "Roboto";
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0, 0.08);
}

button:hover {
  border-color: rgb(0, 0, 0, 0.5);
  outline: 0;
}

button:active {
  transform: scale(0.95);
}
